.footer-container {
  width: 100%; /* 幅を100%に設定 */
  height: 120px;
  position: relative; /* 位置を相対的に設定 */
  background-color: #00144e; /* フッター背景色 */
  padding: 20px 0; /* フッター内の上下パディング */
}

@media(max-width:600px){
  .footer-container{
    height:150px;
  }
}

.footer-content {
  display: flex;  /* 横並びに要素を配置 */
  justify-content: space-between;  /* 左右にスペースを持たせて配置 */
  align-items: center;  /* 縦方向に中央揃え */
  flex-wrap: wrap;  /* 必要に応じて折り返し */
  padding: 20px;
}

.footer-links {
  text-align: left;
  position: absolute;
  left: 15%;
  padding-left: 20px;
  height: auto;
}


@media(max-width:600px){
  .footer-links {
    text-align: left;
    position: absolute;
    left: 15;
    padding-left: 20px;
    height: auto;
  }
}

@media(max-width:600px){
  .footer-contact {
    text-align: right;  /* 右揃え */
    position: absolute;
    right: 15px;
  }
}

.footer-contact {
  text-align: right;  /* 右揃え */
  position: absolute;
  right: 10%;
}

.footer-section {
  width: 40%; /* 親要素の40%の幅に設定 */
  height: 15%; /* 高さを相対的に設定 */
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.footer-box {
  width: 100%;
  height: 100%;
  background-color: black;
}



.footer-link {
  color: white;
  font-size: 12; /* 画面幅に基づいたフォントサイズ */
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  margin-top: 10px;
  font-weight: 300;
}

.footer-link a {
  color: white;  /* 文字色を白に設定 */
  text-decoration: none;  /* 下線をなくす */
}

.footer-link a:hover {
  text-decoration: underline;  /* ホバー時に下線を追加（任意） */
}

.footer-contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;  /* 中央揃え */
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  font-weight: 300;
}

.footer-contact-section > div {
  margin-bottom: 20px;  /* セクション間の余白 */
}


.footer-contact {
  text-align: center;  /* 中央揃え */
  margin-top: 10px;
  margin-top: 10px;
  color: white;
  font-size: 12; /* 画面幅に基づいたフォントサイズ */
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  font-weight: 300;
}

@media (max-width: 600px) {
  .footer-contact {
    right:5%;
  }
}

@media (max-width: 600px) {
  .footer-links {
    left:0%;
  }
}


.footer-follow {
  margin-top: 1vh;
}

.footer-follow a {
  margin: 0 10px;
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.footer-follow a:hover {
  color: #cccccc;
}

.footer-email {
  margin-top: 2vh;
  display: flex;
  align-items: center; /* 横方向の中央揃え */
  text-align: center; /* 全体を中央揃え */
}

.footer-email span {
  white-space: nowrap; /* 通常は同じ行に表示 */
}

@media (max-width: 600px) {
  .footer-email {
    flex-direction: column; /* 600px以下で縦に並べる */
  }

  .footer-email span:first-child {
    margin-bottom: 5px; /* Email: とアドレスの間の余白を調整 */
  }
}